{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.bmp') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</head>
<body></body>
    <div class="container">
        <div class="form-container">
            <a href="{{ url_for('index') }}" class="back-button">&larr; Back to Home</a>
            <h2 id="form-title">Welcome Back</h2>
            <h3 id="form-subtitle">Login to continue</h3>
            
            <form id="form" action="{{ url_for('login') }}" method="post">
                <input name="email" type="email" placeholder="Email" required />
                <input name="password" type="password" placeholder="Password" required />
                
                <label class="remember-label">
                    <input type="checkbox" /> Remember me
                </label>
                
                <button type="submit" id="form-btn">Login</button>
            </form>

            <p>{{msg}}</p>
            
            <p class="switch-form">
                Don't have an account? <a href="signup" id="signup">Sign up</a>
            </p>            
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='img/login.jpg') }}" alt="Food">
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
{% endblock %}