{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2 id="form-title">Welcome Back</h2>
            <h3 id="form-subtitle">Login to continue</h3>
            
            <form id="form">
                <input type="email" placeholder="Email" required />
                <input type="password" placeholder="Password" required />
                
                <label class="remember-label">
                    <input type="checkbox" /> Remember me
                </label>
                
                <button type="submit" id="form-btn">Login</button>
            </form>
            
            <p class="switch-form">
                Don't have an account? <a href="signup" id="signup">Sign up</a>
            </p>            
        </div>

        <div class="image-container">
            <img src="https://img.freepik.com/free-vector/casserole-pot_1284-11444.jpg?semt=ais_hybrid&w=740" alt="Food" />
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
{% endblock %}