
{% block content %}
  <h2>Register</h2>
    {% if message %}
      <ul class="messages">
          <li>{{ message }}</li>
      </ul>
    {% endif %}
  <form method="post" action="{{ url_for('signup') }}">
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
  </form>
{% endblock %}